<!DOCTYPE html>
<html lang="en">
	<head>
    <!-- Metadata -->
		<meta charset="UTF-8">
		<title>UI Workout | {{ title }}</title>
    <meta name="description" content="{{ description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="/images/thumbnail.jpg">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="/images/thumbnail.jpg">
    <!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/base.css">
		{% if css %}<link rel="stylesheet" href="/css/{{ css }}">{% endif %}
	</head>
	<body>
		<main>{{ content }}</main>
    <footer>
      Made by <a href="https://github.com/geeofree" target="_blank" rel="noreferrer noopener">geeofree</a>
    </footer>
		{% if js %}<script src="/js/{{ js }}"></script>{% endif %}
	</body>
</html>
