:root {
  --text: #5b5b5b;
  --primary: #0284c7;
  --primary2: #075985;
}

* {
  font-family: "Inter",
    -apple-system,BlinkMacSystemFont,
    "Avenir Next",
    Avenir,
    "Nimbus Sans L",
    Roboto,
    "Noto Sans",
    "Segoe UI",
    Arial,Helvetica,
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

footer {
  color: var(--text);
  text-align: center;
  padding: 1em;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:visited {
  color: var(--primary2);
}
